## Bootstrapping Chicago Salary Database

In [ ]:
import numpy as np
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings

In [ ]:
chicago_df = pd.read_csv('ChicagoSalary.csv')

In [ ]:
np.sum(chicago_df["Annual.Salary"] > 0)

In [ ]:
# I am going to take one sample of size 100 
# and I'm going to elevate it to exalted 
# status as "the sample."

thesample = chicago_df.sample(100, random_state=1)

In [ ]:
# Histogram of empirical distributions of our
# sample of 100

thesample.hist('Annual.Salary', bins = 18);

In [ ]:
nsim=100
means = []
for i in range(nsim):
    means.append(np.mean(thesample.sample(100, replace=True)["Annual.Salary"]))

In [ ]:
plt.hist(means)

In [ ]:
nsim=10000
means = []
for i in range(nsim):
    means.append(np.mean(thesample.sample(100, replace=True)["Annual.Salary"]))

In [ ]:
plt.hist(np.array(means)/1000, bins=100)
plt.scatter(np.mean(thesample["Annual.Salary"])/1000, 10, c='red')
plt.title("Means of 10,000 bootstrap samples (n=100) \n from the Chicago Salary database")
plt.xlabel("Salary, thousands of dollars")

Take note, that red dot is the mean of my n=100 sample.
My n=100 sample that might have been unlucky.

I am desperate to understand how my one n=100 sample generalizes.

The set of 10,000 mangled (by n=100 sampling with replacement) 
resamples of my golden sample are all slightly different.

The difference between my entire sample and the mean 
is like the difference between the entire sample and the
resamples.

Why?  The resamples have the same mean and variance as
the "big" sample, and are of the same size (!!!)

In [ ]:
plt.hist(np.array(means)/1000, bins=100)
plt.scatter(np.mean(thesample["Annual.Salary"])/1000, 10, c='red', label="Sample mean (n=100)")
plt.scatter(np.mean(chicago_df["Annual.Salary"])/1000, 10, c='purple', label="Population mean (n=25159)")

plt.title("Means of 10,000 bootstrap samples (n=100) \n from the Chicago Salary database")
plt.xlabel("Salary, thousands of dollars")